@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

.main__page {
  background: linear-gradient(to top left, #4f0b51 40%, #9c399d 60%);
}
.overlay::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full z-10;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.search__bar::placeholder {
  @apply text-white;
}
