@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  @apply overflow-x-hidden md:overflow-hidden min-h-screen;
}

.or_login::before,
.or_login::after {
  content: "";
  @apply absolute top-1/2 w-[42%] h-[2px] bg-gray-200;
}
.or_login::before {
  @apply left-0;
}
.or_login::after {
  @apply right-0;
}
input {
  @apply outline-1 outline-blue-300;
}
.main__page {
  background: linear-gradient(to top left, #300631, #7e2780);
}
.overlay::before {
  content: "";
  @apply fixed top-0 left-0 w-full h-full z-20;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.overlay-form::before {
  content: "";
  @apply fixed top-0 left-0 w-full h-full z-30;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
}

.search__bar::placeholder {
  @apply text-white;
}
.channel__member-list {
  @apply overflow-y-scroll overflow-x-hidden h-[55%] md:h-[60%];
}
.direct__message-chat {
  @apply py-6 overflow-y-scroll overflow-x-hidden h-[86%] my-auto w-full;
}
.channel__box {
  @apply overflow-y-scroll overflow-x-hidden h-[30vh];
}
.directMesage__box {
  @apply overflow-y-scroll overflow-x-hidden h-[25vh];
}
.list__all-users {
  @apply overflow-y-scroll overflow-x-hidden h-[25vh];
}
.profile {
  @apply overflow-y-scroll overflow-x-hidden  h-[88vh];
}
.emoji {
  @apply overflow-y-scroll overflow-x-hidden h-[80%];
}
.channel__box::-webkit-scrollbar,
.emoji::-webkit-scrollbar,
.profile::-webkit-scrollbar,
.list__all-users::-webkit-scrollbar,
.directMesage__box::-webkit-scrollbar,
.directMessage__list::-webkit-scrollbar,
.direct__message-chat::-webkit-scrollbar,
.channel__member-list::-webkit-scrollbar {
  width: 1rem;
}

.channel__box::-webkit-scrollbar-track,
.emoji::-webkit-scrollbar-track,
.profile::-webkit-scrollbar-track,
.list__all-users::-webkit-scrollbar-track,
.directMesage__box::-webkit-scrollbar-track,
.directMessage__list::-webkit-scrollbar-track,
.direct__message-chat::-webkit-scrollbar-track,
.channel__member-list::-webkit-scrollbar-track {
  background: transparent;
}

.channel__box::-webkit-scrollbar-thumb,
.emoji::-webkit-scrollbar-thumb,
.profile::-webkit-scrollbar-thumb,
.list__all-users::-webkit-scrollbar-thumb,
.directMesage__box::-webkit-scrollbar-thumb,
.directMessage__list::-webkit-scrollbar-thumb,
.direct__message-chat::-webkit-scrollbar-thumb,
.channel__member-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.spinner {
  @apply flex items-center justify-center gap-2 w-full;
}
.spinner img {
  animation: 2s linear infinite rotate;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.channel__list.active,
.user__list.active {
  @apply text-white bg-fuchsia-900;
}

.user__list:hover .btn__delete {
  @apply block;
}
.btn__channel:hover i {
  @apply block;
}
.date__text::before {
  content: "";
  @apply absolute top-[-80%] left-1/2 h-[1px] bg-[rgba(0,0,0,0.2)] z-0 w-full;
  transform: translate(-50%, -50%);
}
.active__tab {
  border-bottom: 2px solid rgb(70, 12, 70);
}
.work__space,
.creating__channel {
  background: url("./assets/bglogin.png") no-repeat center / cover;
}
